<%- partial('_partial/header') %>

<div class="columns is-centered is-mobile">
    <main id="archive-list" class="column is-two-thirds-tablet is-full-mobile is-half-desktop">
        <% if (is_month()) { %>
        <h2 class="title h2">All posts in <%= page.year %>/<%= page.month %></h2>
        <%- partial('_partial/post_list') %>
        <% } else if (is_year()) { %>
        <h2 class="title h2">All posts in <%= page.year %></h2>
        <%- partial('_partial/post_list') %>
        <% } else { %>
        <h2 class="title h2">All posts</h2>
        <%- partial('_partial/post_list') %>
        <% } %>

    </main>
</div>