<%- partial('_partial/header') %>

<div class="columns is-centered is-mobile">
    <main id="archive-list" class="column is-two-thirds-tablet is-full-mobile is-half-desktop">
        <% if (is_month()) { %>
        <h2 class="title h2">
            <%= _p('archive.all_posts_mo', page.year, page.month) %>
        </h2>
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="<%= url_for('/') %>"><%= __('public.blog') %></a></li>
                <li><a href="<%= url_for('/archives') %>"><%= __('public.archives') %></a></li>
                <li><a href="<%= url_for(`/archives/${page.year}`) %>"><%= page.year %></a></li>
                <li class="is-active"><a href="#" aria-current="page"><%= leftpadZeroForTwo(page.month) %></a></li>
            </ul>
        </nav>
        <%- partial('_partial/post_list') %>
        <% } else if (is_year()) { %>
        <h2 class="title h2">
            <%= _p('archive.all_posts_yr', page.year) %>
        </h2>
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="<%= url_for('/') %>"><%= __('public.blog') %></a></li>
                <li><a href="<%= url_for('/archives') %>"><%= __('public.archives') %></a></li>
                <li class="is-active"><a href="#" aria-current="page"><%= page.year %></a></li>
            </ul>
        </nav>
        <% let months = dedup(page.posts.map(x => x.date.month() + 1)).sort().map(x => { x = leftpadZeroForTwo(x); return {name: `${page.year}/${x}`, link: url_for(`/archives/${page.year}/${x}`)} }) %>
        <% months = sortByKey(months, "name") %>
        <%- partial('_partial/tag_list', {tags: months}) %>
        <%- partial('_partial/post_list') %>
        <% } else { %>
        <h2 class="title h2"><%= __('archive.all_posts') %></h2>
        <% let years = dedup(site.posts.map(x => x.date.year())).sort().map(x => {return {name: x, link: url_for(`/archives/${x}`)} }) %>
        <% years.sort() %>
        <%- partial('_partial/tag_list', {tags: years}) %>
        <%- partial('_partial/post_list') %>
        <% } %>
    </main>
</div>