<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
    <%- partial('_partial/head') %>

    <body>
        <% if (theme.features.bgtitle) { %>
        <div id="bgTitle" class="bgText has-text-grey-lighter"><%= config.title %></div>
        <% } %>
        <%- partial('_partial/header_bar') %>
        <%- body %>
        <% if (theme.features.comments) { %>
        <%- partial('_custom/comments') %>
        <% } %>
        <%- partial('_partial/footer') %>
    </body>

    </html>