<!DOCTYPE html>
<% let lang = config.language %>
<% if (Array.isArray(lang)) lang = lang[0] %>
<html<%= lang ? " lang=" + lang.substring(0, 2) : ""%>>
    <%- partial('_partial/head') %>

    <body>
        <div id="loadwait">
            <%= __('partial.loading') %>
        </div>
        <% if (theme.features.bgtitle) { %>
        <div id="bgTitle" class="bgText has-text-grey-lighter"><%= config.title %></div>
        <% } %>
        <%- partial('_partial/header_bar') %>
        <%- body %>
        <%- partial('_partial/postpage') %>
        <%- partial('_partial/footer') %>
    </body>

    </html>