<%- partial('_partial/header_bar') %>

<div class="columns is-centered is-mobile">
    <main id="recent-post-list" class="column is-two-thirds-tablet is-full-mobile is-half-desktop">
        <div class="box">
            <h2 class="title is-3"><%= page.title %></h2>
            <div class="my-3 has-text-grey-dark">
                <%- partial('_partial/create_update', {post: page}) %>
                <span class="is-pulled-right is-hidden-mobile">
                    <%- partial('_partial/word_count', {post: page}) %>
                </span>
            </div>
            <hr>
            <div class="content">
                <%- page.content %>
            </div>
        </div>
    </main>
</div>