<div class="columns is-centered is-mobile">
    <main id="recent-post-list" class="column is-two-thirds-tablet is-full-mobile is-half-desktop">
        <div class="box no-box-animation">
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <% page.tags.each(function (tag, j) { %>
                    <%- partial('_partial/tag_tag', {name: tag.name}) %>
                    <% }) %>
                    <% if (page.oneof) { %>
                    <%- partial('_partial/series_tag', {name: page.oneof}) %>
                    <% } %>
                </div>
            </div>
            <h2 class="title is-3"><%= page.title %></h2>
            <div class="my-3 has-text-grey-dark">
                <%- partial('_partial/create_update', {post: page}) %>
                <span class="is-pulled-right is-hidden-mobile">
                    <%- partial('_partial/word_count', {post: page}) %>
                </span>
            </div>
            <% const publish_time_diff = moment().diff(page.date, 'days') %>
            <% if (theme.old_post_before && publish_time_diff > theme.old_post_before) { %>
            <div class="notification is-warning is-light">
                <p><%= __('post.old_post', theme.old_post_before) %></p>
            </div>
            <% } %>
            <hr>
            <% if (toc(page.content).length > 0) { %>
            <div class="card mb-5">
                <% if (theme.features.toc) { %>
                <div id="toc" class="card-content py-2">
                    <button id="btnHideToc" class="button is-small is-link is-light mb-2">
                        <%= __('post.hide_toc') %>
                    </button>
                    <button id="btnShowToc" class="button is-small is-link is-light mb-2" style="display: none;">
                        <%= __('post.show_toc') %>
                    </button>
                    <div class="bgText"><%= __('post.toc') %></div>
                    <div id="tocList" class="content">
                        <%- toc(page.content) %>
                    </div>
                </div>
                <% } %>
            </div>
            <% } %>
            <article class="content">
                <%- page.content %>
            </article>
            <hr>
            <div class="field">
                <%= __('post.permalink') %>: <a href="<%= page.permalink %>"><%= page.permalink %></a>
            </div>
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <% page.tags.each(function (tag, j) { %>
                    <%- partial('_partial/tag_tag', {name: tag.name}) %>
                    <% }) %>
                    <% if (page.oneof) { %>
                    <%- partial('_partial/series_tag', {name: page.oneof}) %>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
</div>

<%- js('js/post') %>

<% if (theme.features.show_url_for_xs) { %>
<%- js('js/post_url') %>
<% } %>