<div class="columns is-centered is-mobile">
    <main id="recent-post-list" class="column is-two-thirds-tablet is-full-mobile is-half-desktop">
        <div class="box no-box-animation">
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <% page.tags.each(function (tag, j) { %>
                    <%- partial('_partial/tag_tag', {name: tag.name}) %>
                    <% }) %>
                    <% if (page.oneof) { %>
                    <%- partial('_partial/series_tag', {name: page.oneof}) %>
                    <% } %>
                </div>
            </div>
            <h2 class="title is-3"><%= page.title %></h2>
            <div class="my-3 has-text-grey-dark">
                <%- partial('_partial/create_update', {post: page}) %>
                <span class="is-pulled-right is-hidden-mobile">
                    <%- partial('_partial/word_count', {post: page}) %>
                </span>
            </div>
            <hr>
            <div class="content">
                <%- page.content %>
            </div>
        </div>
    </main>
</div>