<footer id="footer" class="has-text-centered my-4">
  &copy; 2015 - <%= new Date().getFullYear() %> <%= config.author ||
  config.title %><% if (theme.license) { %>,
  <% if (theme.license.url) { %><a href="<%= url_for(theme.license.url) %>"><% } %>
    <%= theme.license.name %>
    <% if (theme.license.url) { %></a><% } %>
  <% } %>
  <br>
  We ♥ <a href="http://blog.ipfs.outv.im" target="_blank" rel="noopener">IPFS</a> / <a
    href="http://sxhlnvthzzaz2uv4edekiwz6dx5rt5byx4jglww7e3isxlmoejg2pnyd.onion/" target="_blank" rel="noopener">v3
    Onion Service</a> / <a href="http://blog.house.libre" target="_blank" rel="noopener">OpenNIC TLDs</a> / <a
    href="http://blog.librehs.dn42" target="_blank" rel="noopener">dn42</a>
  <br>
  <%= config.title ? config.title + ' ' : '' %>
  <%- __('footer.line', '<a href="https://hexo.io">Hexo</a>', '<a href="https://github.com/outloudvi/hexo-theme-saas">Saas</a>') %>
  <%- partial('scripts_postdoc') %>
</footer>