<footer id="footer" class="has-text-centered my-4">
  &copy; 2015 - <%= new Date().getFullYear() %> <%= config.author ||
  config.title %><% if (theme.license) { %>,
  <% if (theme.license.url) { %><a href="<%= url_for(theme.license.url) %>"><% } %>
    <%= theme.license.name %>
    <% if (theme.license.url) { %></a><% } %>
  <% } %>
  <br>
  <%= config.title ? config.title + ' p' : 'P' %>owered by <a href="https://hexo.io">Hexo</a> and themed by <a
    href="https://github.com/outloudvi/hexo-theme-saas">Saas</a>
  <%- partial('scripts_postdoc') %>
</footer>