<header>
    <a href="<%- url_for('/') %>">
        <div id="title" class="is-size-1 has-text-primary has-text-centered">
            <%= config.title %>
        </div>
    </a>
    <% if (config.subtitle) { %>
    <div id="subtitle" class="is-size-4 has-text-grey has-text-centered">
        <%= config.subtitle %>
    </div>
    <% } %>
</header>

<div class="has-text-centered my-3">
    <a class="ml-1 mr-1" href="<%- url_for('/') %>">Home</a>
    <a class="ml-1 mr-1" href="<%- url_for('archives') %>">Archive</a>
    <a class="ml-1 mr-1" href="<%- url_for('tags') %>">Tags</a>
    <a class="ml-1 mr-1" href="<%- url_for('series') %>">Series</a>
</div>