<header>
    <div id="title" class="is-size-1 has-text-primary has-text-centered">
        <%= config.title %>
    </div>
    <% if (config.subtitle) { %>
    <div id="subtitle" class="is-size-4 has-text-grey has-text-centered">
        <%= config.subtitle %>
    </div>
    <% } %>
</header>

<div class="has-text-centered mt-3">
    <a href="<%- url_for('/') %>" class="ml-1 mr-1">Home</a>
    <a href="<%- url_for('archives') %>" class="ml-1 mr-1">Archive</a>
    <a href="<%- url_for('tags') %>" class="ml-1 mr-1">Tags</a>
    <a href="<%- url_for('series') %>" class="ml-1 mr-1">Series</a>
</div>