<header class="main">
    <a href="<%- url_for('/') %>">
        <div id="title" class="is-size-1 has-text-primary has-text-centered">
            <%= config.title %>
        </div>
    </a>
    <% if (config.subtitle) { %>
    <div id="subtitle" class="is-size-4 has-text-grey has-text-centered">
        <%= config.subtitle %>
    </div>
    <% } %>
</header>

<div class="has-text-centered my-3">
    <%- partial('_partial/navlink', {url: url_for('/'), title: 'Home'}) %>
    <%- partial('_partial/navlink', {url: url_for('archives'), title: 'Archive'}) %>
    <%- partial('_partial/navlink', {url: url_for('tags'), title: 'Tags'}) %>
    <%- partial('_partial/navlink', {url: url_for('series'), title: 'Series'}) %>
</div>