<header class="main mt-2">
    <div id="title" class=" has-text-centered">
        <a href="/" class="is-size-1 has-text-primary">
            Hexo
        </a>
    </div>
    <% if (config.subtitle) { %>
    <div id="subtitle" class="is-size-4 has-text-grey has-text-centered">
        <%= config.subtitle %>
    </div>
    <% } %>
</header>

<div class="has-text-centered my-3">
    <%- partial('_partial/navlink', {url: url_for('/'), title: 'Home'}) %>
    <%- partial('_partial/navlink', {url: url_for('archives'), title: 'Archive'}) %>
    <% if (theme.paths.tags) { %>
    <%- partial('_partial/navlink', {url: url_for(theme.paths.tags), title: 'Tags'}) %>
    <% } %>
    <% if (theme.paths.series) { %>
    <%- partial('_partial/navlink', {url: url_for(theme.paths.series), title: 'Series'}) %>
    <% } %>
    <% if (theme.extra_header_links) { %>
    <% Object.entries(theme.extra_header_links).forEach(([title, url]) => { %>
    <%- partial('_partial/navlink', {url, title}) %>
    <% })} %>
</div>