<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="Blog of Outvi V." />
  <link rel="canonical" href="<%= config.url %><%= url_for(page.path) %>" />
  <!-- title -->
  <% if (theme.favicon) { %>
  <link rel="shortcut icon" href="<%= url_for(theme.favicon) %>" />
  <% } %>
  <!-- title -->
  <title><% if (page.title) { %><%= page.title %> | <% } %><%= config.title %></title>
  <!-- styles -->
  <%- css('css/core') %>
  <!-- rss -->
  <% if (theme.rss) { %>
  <link rel="alternate" href="<%= url_for(config.feed.path) %>" title="<%= config.title %>"
    type="application/atom+xml" />
  <% } %>
  <%- partial('scripts_predoc') %>
  <!-- Insert your tracking code here -->
</head>