<% let posts_to_display = locals.posts || page.posts %>
<% let toggle_show_paginator = locals.show_paginator == false ? false : true %>
<% if (toggle_show_paginator) { %>
<%- partial('_partial/paginator') %>
<% } %>
<% posts_to_display.filter( post => !(post.hidden)).sort('updated', 'desc').each(function(post, i){ %>
<div class="box">
    <div class="field is-grouped is-grouped-multiline">
        <div class="control">
            <% post.tags.each(function (tag, j) { %>
            <%- partial('tag_tag', {name: tag.name}) %>
            <% }) %>
            <% if (post.oneof) { %>
            <%- partial('_partial/series_tag', {name: post.oneof}) %>
            <% } %>
        </div>
    </div>
    <a href="<%- url_for(post.path) %>">
        <h2 class="title is-4"><%= post.title || "Untitled" %></h2>
    </a>
    <% if (post.excerpt) { %>
    <div class="mx-1 my-3"><%- post.excerpt %></div>
    <% } %>
    <div class="my-3 has-text-grey-dark">
        <%- partial('_partial/create_update', {post}) %>
        <span class="is-pulled-right is-hidden-touch">
            <%- partial('_partial/word_count', {post}) %>
        </span>
    </div>
</div>
<% }); %>
<% if (toggle_show_paginator) { %>
<%- partial('_partial/paginator') %>
<% } %>